# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Packaging
*.egg-info/

# Testing
test.py